.header__buttons {
    display: flex;
}

.primary{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(1, 70, 254, 1);
    border-radius: 12px;
    height: 48px;
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
    border: none;
}

.small-button {
    width: 131px;
}

.secondary {
    background-color: rgba(244, 246, 253, 1);
    color: rgba(0, 0, 0, 1);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.03em;
    text-align: center;
    border-radius: 12px;
    height: 48px;
    border: none;
}

.medium-button{
    width: 247px;
}

.tertiary {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(102, 102, 102, 1);
    background-color: transparent;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.16px;
    text-align: left;
    height: 48px;
    border: none;
}

.tertiary img {
    padding-right: 10px;
}

.big-button{
  width: 366px;
  margin-top: 20px;
}

.big-text-button{
    font-size: 20px;
}

.small-text-button{
    font-size: 16px;
}