.product-for__card {
    width: 1137px;
    height: 422px;      
    border-radius: 32px;  
    border: 2px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.product-for__content{
    display: flex;
    justify-content: center;
    align-items: center
}

.product-for__content button{
    display: flex;
    justify-content: center;
}

.product-for__card img {
    width: 507px;
    height: 338px;
    border-radius: 32px;
}

.product-for__card-title {
    font-family: Inter;
    font-size: 60px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: -0.05em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}   
.product-for__card-list {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    letter-spacing: -0.01em;
    text-align: left;
    color: rgba(42, 43, 47, 0.9);
}


.product-for__title {
    font-family: Inter;
    font-size: 60px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: -0.05em;
    text-align: center;
    color: rgba(0, 0, 0, 1);
}

.product-for__description {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    letter-spacing: -0.01em;
    text-align: center;
    color: rgba(42, 43, 47, 0.8);
    
}


.product-for__button {
    display: flex;
    justify-content: center;
    align-items: center ;
}