.header__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 12px;
    color: var(--button-primary-color);
    font-family: Inter;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.01em;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
    height: fit-content;
    min-height: 48px;
}

.small-button {
    padding: 10px 20px;
}

.secondary {
    background-color: var(--secondary-background-color);
    color: var(--button-secondary-color);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.03em;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
    height: fit-content;
    min-height: 48px;
}

.tertiary {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--button-tertiary-color);
    background-color: transparent;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.16px;
    border: none;
    cursor: pointer;
    text-align: center;
    height: fit-content;
}

.tertiary img {
    padding-right: 10px;
}

.big-button {
    padding: 20px 120px;
}

.big-text-button{
    font-size: 20px;
}

.small-text-button{
    font-size: 16px;
}