.benefit {
  background: rgba(244, 246, 253, 1);
  ;
}


.benefit__cards {
    width: 1248px;
    text-align: center;
  }
  
  
  
  .benefit__card-title {
      font-family: Inter;
      font-size: 34px;
      font-weight: 900;
      line-height: 34px;
      letter-spacing: -0.03em;
      text-align: center;    
  }
  
  
  .benefit__card-description {
      font-family: Inter;
      font-size: 18px;
      font-weight: 400;
      line-height: 25.2px;
      letter-spacing: -0.01em;
      text-align: center;
      color: rgba(122, 134, 156, 1);
  }
  
  .benefit__cards {
      display: flex;
      flex-wrap: wrap; 
  }
  
  
  .benefit__card {
      width: calc(33.33% - 20px); 
  }