.main__service {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.main__service-item {
  padding: 1px 16px 16px 16px;
  gap: 0px;
  border-radius: 32px;
  border: 2px;
  opacity: 0px;
  border: 2px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  max-width: 350px;
  padding: 20px;
  margin: 20px;
  float: left;
}

.main__service-item img {
  margin-top: 40px;
}

.main__service-item-content h2 {
  font-family: Inter;
  font-size: 34px;
  font-weight: 900;
  line-height: 34px;
  letter-spacing: -0.03em;
  text-align: center;
  color: var(--h-primary-color);
  margin-top: 0;
} 

.main__service-item-content p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--h-secondary-color);
}