@media screen and (max-width: 840px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
    }

    header {
        justify-content: space-between;
    }

    .header__nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header__buttons {
        margin-right: 20px;
    }

    .logo {
        margin-left: 60px;
    }

    .page-indent {
        padding: 0 10px;
    }

    .main__service {
        flex-wrap: nowrap;
    }
    .slider-container .mobile {
        padding-top: 0;
    }

    .product-for__content .mobile {
        flex-direction: column;
    }

    .product-for__content .mobile img {
        width: -webkit-fill-available;
        max-height: 400px;
        border-radius: 32px 32px 0 0;
    }

    .product-for__text-content {
        align-items: center;
        justify-content: center;
    }

    .product-for__text-content ul {
        width: 400px;
        padding-bottom: 20px;
    }

    .product-for__card .mobile {
        width: 90vw;
    }

    .product-for__content h3 {
        text-align: center;
        margin: 30px 0;
    }

    .product-for__button {
        flex-wrap: wrap;
    }

    .product-for__button button {
        float: left;
    }

    .product-for__info {
        margin-top: 0;
    }

    .footer__links {
        max-width: 200px;
    }

    .product-for__content.mobile {
        display: flex;
    }

    .social-links.mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 10px 0;
    } 
}

@media (max-width: 600px) {
    .benefit__card {
        width: calc(50% - 40px);
    }
}

@media (max-width: 560px) {
    .product-for__text-content {
        padding-left: 0;
        padding-top: 0;
    }

    .product-for__text-content h3 {
        width: 100%;
        font-size: 50px
    }

    .product-for__text-content ul {
        margin-top: 0;
        font-size: 14px;
    }

    .benefit__card {
        width: calc(100% - 40px);
    }
}

@media (max-width:840px) {
    .animated-div {
        width: 55%;
    }
    .animated-div1 {
        width: 45%;
    }
}

@media (max-width:768px) {
    .product-for__card {
        max-width: 100%;
    }
}