@media screen and (max-width: 850px) {
  .slider-container {
    position: relative;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    overflow: hidden;
  }
  
  .slider-inner {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .main__service-item {
    flex: 0 0 auto;
    margin-left: 30px;
    width: 70vw;
  }
  
  .prev, .next {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    width: 50px;
    height: 50px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: var(--button-secondary-color);
    color: var(--primary-border-color);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  }
  
  .prev:hover, .next:hover {
    transform: translateY(-50%) scale(1.1);
    background-color: var(--primary-button-hover-color);
    color: var(--primary-text-color);
    border: 1px solid var(--button-secondary-color);
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
}